{% load templatetag_handlebars %}
{% tplhandlebars all_queries_table_owner_cell %}
{{ #if  is_owner }}
<div class="ss-dataset-shared-owner">
    {{ #if  is_public }}
        <span class="ss-access-public"><i class="fa fa-globe"></i>&nbsp;&nbsp;Public</span>
    {{else}}
        {{ #if  is_shared }}
            <span class="ss-access-shared-owner"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Sharing with others</span>
        {{else}}
            <span class="ss-access-private"><i class="fa fa-lock" style="color:#000;"></i>&nbsp;&nbsp;Only you can view this</span>
        {{ /if }}
    {{ /if }}

    {{owner}}
</div>
{{else}}
<div class="ss-dataset-shared-owner">
    {{ #if  is_public }}
        <span class="ss-access-public"><i class="fa fa-globe"></i>&nbsp;&nbsp;Public</span>
    {{else}}
        <span class="ss-access-shared-viewer"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Shared with you</span>
    {{ /if }}

    {{owner}}
</div>
{{ /if }}
{% endtplhandlebars %}
