{% load templatetag_handlebars %}
{% tplhandlebars query_queue_display %}
<div class="ss-content-header">
    <h3>Recent Activity
&nbsp;<span class="ss-activity-tally"><span class="ss-activity-tally-total">{{total_tasks}}</span> tasks total |
&nbsp;<span class="ss-activity-tally-running">{{running_tasks}}</span> running |
&nbsp;<span class="ss-activity-tally-finished">{{finished_tasks}}</span> finished
</span></h3>
</div>

{{ #if  no_queries }}
<div class="ss-no-datasets-exist">
	You have not performed any queries recently.

</div>
{{else}}

<div id="js-query-queue" class="ss-dataset-list">
<table id="js-query-queue-table" class="display" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>SQL</th>
            <th>Started</th>
            <th>Status</th>
            <th>Cancel/Remove</th>
            <th style="display: none">ID</th>
            <th style="display: none">Finished</th>
        </tr>
    </thead>
    <tbody>
        {{ #each  queries }}
            <tr>
                <td>
                    {{ #if end }}<a href="sqlshare/#s=query/{{ query_id }}">{{ /if }}
                    {{sql}}
                    {{ #if end }}</a>{{ /if }}
                </td>
                <td>
                    {{start}}
                </td>
                <td>
                    {{ #if  end }}<span style="color:green;">Finished
</span>{{else}}<span style="color:#aaa;">Running...
</span>{{ /if }}
                </td>
                <td>
                    <a href="javascript:void(0)" class="remove_query" id='remove_{{url}}' rel="{{ #if  end }}remove{{else}}cancel{{ /if }}">x</a>
                </td>
                <td style="display: none;">{{query_id}}</td>
                <td style="display: none;">{{ #if  end }}1{{else}}0{{ /if }}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{ /if }}
{% endtplhandlebars %}
