<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script>SolTimer = { load: new Date().getTime() };</script>
    <title>SQLShare</title>
    <base id="solstice_base" href="/"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <script type="text/javascript">
        solstice_document_base      = '';
        webservice_rest_root        = '';
        solstice_static_base        = null;
        solstice_session_app_key    = '__SQLShare__';
        solstice_subsession         = '';
        solstice_subsession_chain   = '';
        solstice_subsession_seq     = '0';
        solstice_development_mode   = false;
        solstice_xsrf_token         = '';
        use_view_wireframes         = false;
        current_year                = 2012;
        static_url                  = '{{ STATIC_URL }}';

        solstice_user               = { login_name: "{{user}}", name: "", surname: "", email: "", nonacting_login_name: "", nonacting_name: "", nonacting_surname: "", sys_name: "", sys_surname: "", sys_email: "", is_override: false, is_actas: false };

    </script>

    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/jquery.tagit.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/editor.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/solstice.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/user_content.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/reset.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/fonts.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/tagging.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/sqlshare.css"/>
    <link rel="stylesheet" type="text/css"  href="{{STATIC_URL}}styles/datatable.css"/>
    {% endcompress %}

  </head>

  <body id="solstice_document_body" class="yui-skin-sam">

      <!-- BEGIN BOILERPLATE WORKSPACE -->
      <form action="/sqlshare" method="post" accept-charset="UTF-8" id="solstice_app_form">
      {% csrf_token %}
<input type="hidden" id="solstice_selected_button" name="solstice_selected_button" value=""/>
<div class="ss-boilerplate">

<iframe id="yui-history-iframe" src="{{STATIC_URL}}content/blank.html"></iframe>
<input id="yui-history-field" type="hidden">

<div id="ss_app" class="ss-app-container">

    <div class="ss-sidebar" id="ss_sidebar">

            <h3 class="ss-sidebar-logo"><a title="Welcome to SQLShare" href="#s=home"><img src="{{STATIC_URL}}images/ss-logo.png" /></a></h3>

            <div id="ss_sidebar_content" class="ss-sidebar-content">
                <ul class="ss-sidebar-items">
                    <li id="your_queries_li"><a href="sqlshare/#s=home" title="View datasets owned by you" rel="home">Your datasets</a></li>
                    <li id="all_queries_li"><a href="sqlshare/#s=all_queries" title="View all datasets" rel="all_queries">All datasets</a></li>
                    <li id="shared_queries_li"><a href="sqlshare/#s=shared" title="View datasets shared with you" rel="shared_queries">Shared datasets</a></li>
                    <li id="query_list_li"><a href="sqlshare/#s=querylist" title="View recent query activity" rel="querylist"><span style="display:block; float:left; width:100px; padding:0;">Recent&nbsp;activity...</span><span id="nav_finished_query_count" style="display:block;float:right;padding:0; color:green;font-size:92%;padding-top:1px;"></span><span class="clear" style="height:0;padding:0;"></span>
                    </a></li>
                    <li>
                        <ul id="recent_queries_menu">
                            <li>
                                <a href="javascript:void(0)">Recently viewed</a>
                                <ul id="recent_query_list" style="z-index: 2;">
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="ss-sidebar-items">
                    <li id="new_upload_li"><a href="sqlshare/#s=file" title="Upload a new dataset" rel="file">Upload dataset</a></li>
                    <li id="new_query_li"><a href="sqlshare/#s=query" title="Start a new query" rel="query">New query</a></li>
                </ul>
                <div id="tagging_sidebar"></div>
            </div>

    </div>


    <div class="ss-content" id="ss_content">

        <div id="menu_container"></div>
        <div id="hidden_test_container" style="visibility: hidden; position: absolute; top: -900px;"></div>

        <div class="ss-app-navigation">

            <div id="tab_nav_tables" class="nav-container">
                
                <div id="table_tab_overflow_li" class="tab_overflow" style="display: none; float: left; margin-top: 10px; margin-left: 10px; margin-right: -5px;" >
                    <ul id="overflow_menu" style="width: auto;">
                        <li>
                            <a href="javascript:void(0)"><span id="table_tab_overflow_label">More...</span></a>
                            <ul id="overflow_list"></ul>
                        </li>
                    </ul>
                </div>
                
                <ul class="ss-tables-list" id="table_tab_list" style="float: left;"></ul>

            </div>

            <div class="ss-account-info">
                <p><span style="color:#275877;font-weight:normal;">Logged in:</span>&nbsp;&nbsp;<span style="display:inline-block;">{{user}}</span></p>
            </div>

            <div class="clear"></div>



        </div>

        <div id="ss_application_wrapper">

            <div class="ss-app-workspace-wrapper">
                <div id="ss_app_workspace" style="padding-right:10px;"></div>
            </div>

            <div class="ss-editor" id="ss_editor_col">
                <div id="edit_query_container" style="overflow-y: auto; margin-left:10px; padding-right:10px; width:480px; "></div>
            </div>

            <div class="clear"></div>

        </div>
        <div class="clear"></div>

    </div>


    <div class="clear"></div>

</div>

</div>
</form>
      <!-- END BOILERPLATE WORKSPACE -->

  </body>

{% include "handlebars/table_tab.html" %}
{% include "handlebars/uploader/parser_options.html" %}
{% include "handlebars/uploader/uploading.html" %}
{% include "handlebars/uploader/file_list.html" %}
{% include "handlebars/uploader/step1.html" %}
{% include "handlebars/uploader/table_options.html" %}
{% include "handlebars/uploader/error.html" %}
{% include "handlebars/table/change_description.html" %}
{% include "handlebars/table/rename.html" %}
{% include "handlebars/table/toggling_public.html" %}
{% include "handlebars/table/display.html" %}
{% include "handlebars/table/loading.html" %}
{% include "handlebars/table/error.html" %}
{% include "handlebars/open_id/google.html" %}
{% include "handlebars/wayf/chooser.html" %}
{% include "handlebars/email_urls/user_list.html" %}
{% include "handlebars/email_urls/email_list.html" %}
{% include "handlebars/email_urls/dataset_list.html" %}
{% include "handlebars/shared_queries/loading.html" %}
{% include "handlebars/shared_queries/list.html" %}
{% include "handlebars/shared_queries/error.html" %}
{% include "handlebars/default_home_screen.html" %}
{% include "handlebars/load_error/bad_host.html" %}
{% include "handlebars/boilerplate.html" %}
{% include "handlebars/query_queue/display.html" %}
{% include "handlebars/query_queue/loading.html" %}
{% include "handlebars/query/interface.html" %}
{% include "handlebars/query/sharing_panel_public.html" %}
{% include "handlebars/query/sharing_panel_private.html" %}
{% include "handlebars/query/running.html" %}
{% include "handlebars/query/save_panel.html" %}
{% include "handlebars/query/error.html" %}
{% include "handlebars/query/sharing_panel.html" %}
{% include "handlebars/all_tables/loading.html" %}
{% include "handlebars/all_tables/list.html" %}
{% include "handlebars/all_tables/error.html" %}
{% include "handlebars/query.html" %}
{% include "handlebars/tagged_queries/loading.html" %}
{% include "handlebars/tagged_queries/list.html" %}
{% include "handlebars/tagged_queries/error.html" %}
{% include "handlebars/favorite_sidebar.html" %}
{% include "handlebars/all_queries/table_name_cell.html" %}
{% include "handlebars/all_queries/loading.html" %}
{% include "handlebars/all_queries/table_date_cell.html" %}
{% include "handlebars/all_queries/list.html" %}
{% include "handlebars/all_queries/table_owner_cell.html" %}
{% include "handlebars/all_queries/error.html" %}
{% include "handlebars/saved_query/change_description.html" %}
{% include "handlebars/saved_query/rename.html" %}
{% include "handlebars/saved_query/deleting.html" %}
{% include "handlebars/saved_query/display.html" %}
{% include "handlebars/saved_query/loading.html" %}
{% include "handlebars/saved_query/overwrite_panel.html" %}
{% include "handlebars/saved_query/in_process.html" %}
{% include "handlebars/saved_query/loading_preview.html" %}
{% include "handlebars/saved_query/building_snapshot.html" %}
{% include "handlebars/saved_query/edit.html" %}
{% include "handlebars/saved_query/not_found.html" %}
{% include "handlebars/saved_query/preview_error.html" %}
{% include "handlebars/saved_query/error.html" %}
{% include "handlebars/saved_query/description_area.html" %}
{% include "handlebars/saved_query/confirm_delete.html" %}
{% include "handlebars/saved_query/change_statement.html" %}
{% include "handlebars/dataset/accept.html" %}
{% include "handlebars/dataset/details.html" %}
{% include "handlebars/dataset/not_found.html" %}
{% include "handlebars/manage_credentials/interface.html" %}
{% include "handlebars/manage_credentials/loading.html" %}
{% include "handlebars/manage_credentials/error.html" %}
{% include "handlebars/sidebar_lists.html" %}
{% include "handlebars/my_queries/loading.html" %}
{% include "handlebars/my_queries/list.html" %}
{% include "handlebars/my_queries/error.html" %}
{% include "handlebars/recent_queries.html" %}
{% include "handlebars/tab_nav_overflow.html" %}
{% include "handlebars/query/sharing_name_cell.html" %}


    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}javascript/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/jquery.history.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/solstice.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/string.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/message.js"></script>
    <script src="{{ STATIC_URL }}javascript/lang/SQLShare.json"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/lang.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/css_browser_selector.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/element.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/sol_base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/sol_view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/ss_base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/query_base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/sqlshare.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/constants.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/navigation.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/query.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/query_queue.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/upload.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/all_tables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/all_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/shared_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/my_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/tagged_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/recent_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/saved_query.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/table_tabs.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/query_list_base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table_date_cell.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table_name_cell.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table_owner_cell.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table/rename.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/table/change_description.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/edit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/rename.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/change_description.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/change_statement.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/confirm_delete.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/deleting.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/saved_query/description_area.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/query.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/query/save_panel.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/query/sharing_panel.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/uploader/parser.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/uploader/options.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/all_queries/list.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/my_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/tagged_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/shared_queries/list.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/query_queue.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/manage_credentials.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}javascript/view/sidebar_lists.js"></script>
    <script src="{{STATIC_URL}}javascript/handlebars.js"></script>
    <script src="{{STATIC_URL}}javascript/handlebars_util.js"></script>
    <script src="{{STATIC_URL}}javascript/tag-it.js"></script>
    <script src="{{STATIC_URL}}javascript/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}javascript/vendor/jquery.iframe-transport.js"></script>
    <script src="{{STATIC_URL}}javascript/vendor/jquery.fileupload.js"></script>

    {% endcompress %}

    <script type="text/javascript">
        $(function() {
            new SQLShare('ss_app').run();
        });
      </script>



</html>
